<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Incluir" icon="pi pi-plus" class="p-button-success mr-2"
        (click)="incluir()"></button>
      <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger"
        (click)="excluirTarefasSelecionadas()"
        [disabled]="!tarefasSelecionadas || !tarefasSelecionadas.length"></button>
    </ng-template>

  </p-toolbar>

  <p-table #dt [value]="tarefas" [rows]="10" [paginator]="true"
    [globalFilterFields]="['codigo','descricao','data','status']" [tableStyle]="{'min-width': '75rem'}"
    [(selection)]="tarefasSelecionadas" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Exibindo a tarefa {first} até {last} de um total de {totalRecords} tarefas" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">

        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Pesquisar..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="codigo" style="min-width:15rem">Código<p-sortIcon field="codigo"></p-sortIcon></th>
        <th pSortableColumn="descricao">Descrição<p-sortIcon field="descricao"></p-sortIcon></th>
        <th pSortableColumn="data">Data<p-sortIcon field="data"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tarefa>
      <tr>
        <td>
          <p-tableCheckbox [value]="tarefa"></p-tableCheckbox>
        </td>
        <td>{{ tarefa.codigo }}</td>
        <td>{{ tarefa.descricao }}</td>
        <td>{{tarefa.data}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
            (click)="editProduct(tarefa)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteProduct(tarefa)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Total de tarefas: {{tarefas ? tarefas.length : 0 }}
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="exibirModal" [style]="{width: '450px'}" header="Product Details" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="descricao">Descrição</label>
      <input type="text" pInputText id="descricao" [(ngModel)]="tarefa.descricao" required autofocus />
      <small class="p-error" *ngIf="submitted && !tarefa.descricao">Informe a descrição da tarefa.</small>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="fecharModal()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="salvar()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
